<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.leiyu.blockchainim">

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appName}"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:name=".IMApp"
        android:theme="@style/AppTheme"
        tools:replace="android:name,android:label">
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.user.CreateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.mine.ServiceAddressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.home.contact.AddContactActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.home.contact.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.home.contact.UpdateActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.home.msg.SendActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
    </application>

</manifest>